body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("https://i.pinimg.com/originals/94/77/b8/9477b89d53b4105f313d4897ae94fccb.jpg");
    background-size:cover;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
  }
  
  .container {
    text-align: center;
  }

  .box{
    background-color: #f35ceb;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 5px 10px 5px rgba(0.5, 0.5, 0.5, 0.5);
  }
  
  h1 {
    font-size: 2.5em;
    color: #ffc5fb;
    -webkit-text-stroke: 1px #000000;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .yes-button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #a41afa;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5)  
  }
  
  .no-button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #264ec5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5)
  }
  
  .gif_container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
  }

 @media(max-width: 992px){
    .box{
      padding: 15px;
      margin: 5%;
    }

    h1{
      font-size: 1.5em;
    }
  }
