body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("https://i.pinimg.com/originals/94/77/b8/9477b89d53b4105f313d4897ae94fccb.jpg");
    background-size:cover;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.box{
    background-color: #f35ceb;
    border-radius: 20px;
    padding: 20px;
}

.header_text {
    font-size: 3em;
    color: #ffc5fb;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
@media(max-width: 992px){
    .box{
      padding: 15px;
      margin: 10%;
    }
  }
